.contact__icon
  i(class="fas fa-info-circle")
.contact-info
  .contact-info__tel
    a(class="tel" href="tel: 9930 1234 5679") 
      i(class="fas fa-phone")
      |  9930 1234 5679
  .contact-info__mail
    a(href="")
      i(class="fas fa-envelope")
    a(href="mailto:contact@domain.com?Subject=Hello%20again" target="_top")
      span e-mail:
      |  contact@domain.com
  .contact-info__adress
    a(href="")
      i(class="fas fa-home")
      | span street address example