.share
  a(href="")
    i(class = 'sprite sprite-webicon-flickr')
  a(href="")
    i(class = 'sprite sprite-webicon-googleplus')
  a(href="")
    i(class = 'sprite sprite-webicon-twitter')
  a(href="")
    i(class = 'sprite sprite-webicon-pinterest')
  a(href="")
    i(class = 'sprite sprite-webicon-dribbble ')
  a(href="")
    i(class = 'sprite sprite-webicon-behance')
  a(href="")
    i(class = 'sprite sprite-webicon-facebook')  
.copyrights
  span © 2014 Kappe, All Rights Reserved