doctype html
html(lang='uk')
  include partials/head
body
  .main-page
    .sidebar-opener
      a(href="#")
        i(class="fas fa-bars")
    .sidebar
      .my-scrollbar
        include partials/logo
        -
          var menu = [
            {text:'Home', href:'index.html', active: 1},
            {text:'Work', href:'singlework.html'},
            {text:'About', href:'about.html'},
            {text:'Blog', href:'blog.html'},
            {text:'Services', href:'services.html'},
            {text:'Contact', href:'contact.html'}
          ];
        +menu(menu)
        include partials/filter
        include partials/share
    .content
      .m-l-300
        .my-scrollbar
          .portfolio-list
            - for(var i=0; i<20; i++)
              -
                var items = [
                  'webdesign',
                  'illustration',
                  'photography',
                  'wallpapers',
                  'brochures'
                ];
                randIndex = Math.floor(Math.random() * items.length);
              .portfolio-item__wrap(data-anchor=items[randIndex] data-test=randIndex)
                a.portfolio-item(href="#")
                  .portfolio-item__inner
                    picture
                      img(src="img/1.jpg" alt="")
                    .info
                      .info-center
                        .info__title
                          span Cool App Design
                        .info__subtitle
                          span development, mobile, #{items[randIndex]}
                        .info__arrow
                          i(class="fas fa-arrow-right")
        .contact
          .my-scrollbar
            include partials/contact-info       
    include partials/footer

