doctype html
html(lang='uk')
  include partials/head
body
  .main-page
    .sidebar-opener
      a(href="#")
        i(class="fas fa-bars")
    .sidebar.noshadow
      .my-scrollbar
        include partials/logo
        -
          var menu = [
            {text:'Home', href:'index.html'},
            {text:'Work', href:'singlework.html', active: 1},
            {text:'About', href:'about.html'},
            {text:'Blog', href:'blog.html'},
            {text:'Services', href:'services.html'},
            {text:'Contact', href:'contact.html'}
          ];
        +menu(menu)
        include partials/filter
        include partials/share
    .content
      .my-scrollbar
        .m-l-300
          .row
            .column
              .m-r-30
                include partials/slider
                .text-info
                  +title('Heavy Sand - Creative Photography')
                  p Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                  p Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. 
                .related-project
                  +title('Related Projects')
                  .related-project__img
                    img(src="img/singlework/related-project.png")
                    img(src="img/singlework/related-project.png")
                    img(src="img/singlework/related-project.png")
            .column
              .project-info
                +title('Project Info')
                .project-info__premium
                  .icon
                    i(class="fas fa-user")
                  span premiumlayers
                .project-info__likes
                  .icon
                    i(class="fas fa-heart")
                  span 138 Likes
                .project-info__date
                  .icon
                    i(class="far fa-calendar-alt")
                  span 25 December, 2013
                .project-info__coments
                  .icon
                    i(class="fas fa-link")
                  span 4 Comments
              .tags
                +title('Tags')
                .tags__link
                  a(href="#")
                    span web design
                  a(href="#")
                    span photography
                  a(href="#")
                    span development
                  a(href="#")
                    span php
                  a(href="#")
                    span ecommerce
                  a(href="#")
                    span graphic
              .project-gallery
                +title('Project Gallery')
                .project-gallery__img
                  - for(var i=0; i<12; i++)
                    img(src="img/singlework/project-gallery.png")
              .project-features
                +title('Project Features')
                ul
                  li Responsive Layout 
                  li Font Awesome Icons 
                  li Clean & Commented Code
                  li Pixel perfect Design
                  li Highly Customizable
  include partials/footer